<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Box</title>
    <link rel="stylesheet" href="select-box-style.css">
</head>
<body>
<form>
    <label for="gender">Choose a Gender : </label>
    <select name="Gender" id="gender" required>
        <option value="">Choose</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
    </select>
    <br><br>
    <input type="Submit" value="Submit">
</form>
</body>
</html>