*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  body{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#111;
    min-height:100vh;
  }
  .loading{
    position:relative;
    width:200px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .loading span{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border:2px solid #0F60B6;
    animation: animate 5s linear infinite;
  }
  .loading span:nth-child(1)
  {
    border-radius:60% 40% 21% 79% / 35% 55% 45% 65%  ;
  }
  .loading span:nth-child(2)
  {
    animation-direction:reverse;
    border-radius:50% 50% 51% 49% / 68% 68% 32% 32%;
  }
  .loading span:nth-child(3)
  {
    animation-duration:3s;
    border-radius:32% 68% 32% 68% / 43% 47% 53% 57%;
  }
  @keyframes animate{
    0%{
     transform:rotate(0deg);
    }
    100%{
      transform:rotate(360deg);
    }
  }
  .loading h2{
    color:#fff;
    font-family:lato;
    font-weight:500;
  }